
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
}

li {
    float: right;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}


body{
 margin:0;
 background-color: #121212;
}

.container{
 margin: 0;
 width: 100%;
 height: 100%;
 position: absolute;
}

h1{ 
  color: white;
  margin-top: 8px;
  font-size: 38px;
  font-family: "sans-serif";
  text-align: center;
}

#takename{ 
  width: 20%;
  height: 4%;
  margin-top: -76px;
  margin-left: -120px; 
  position: absolute;
  border-radius: 24px;   
}

.languagediv{ 
  display: inline-block;
  margin-top: 20px;
  margin-left: -480px;
  margin-right: 560px;
  color: white
}

.languagediv{ 
  width: 10px;
}

label{ 
  margin: -15px;
  font-family: "sans-serif";
  font-size: 12px;
}

#greetButton{ 
  background-color: #121212;
  border: 10px solid #121212;
  color: white;
  margin-left: -490px;
  font-size: 14px;
  height: 42px;
  width: 90px;
 cursor: pointer;
}

.counterdiv{ 
  color: maroon;
  margin-top: 7px;
  margin-left: 840px;
  float: left;
  font-size: 26px;
  text-align: center;  
}

.counterdiv button{ 
  border: 10px solid #199C54;
  font-size: 10px;
  height: 32px;
  width: 120px;
  margin-top: 10px;
  margin-left: auto;
  border-radius: 6px;
  cursor: pointer;
}

.outputdiv{ 
  margin-top: 160px;
  margin-left: 395px;
  margin-right: 470px;
  height: 15%;
  background-color: #121212;
  border-radius: 10px 10px 10px 10px;
}

.outputdiv p{ 
  text-align: left;
  margin-left: 30px;
  padding-top: 35px;
  padding-left: 28px;
  font-family: "sans-serif";
  font-size: 24px;
  color: blue;
}

.footer {
 background: #eee;
 bottom: -300px;
 text-align: center;
 position: relative;
}
